@import "../../scss/vars";
@import "../../scss/repeat";

.result {
    @extend %flexCenterColumn;
    width: 100%;
}

.editBtn {
    @extend %button;
    margin-top: 10px;
    max-width: 200px;
}

.resultText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}